.search-box {
    position: absolute;
    z-index: 1000;
    border: 1px solid #222531;
    background-color: #222531;
    border-radius: 10px;
    display: flex;
    width: 500px;
    min-height: 200px;
    border-radius: 10px;
    padding: 18px;
    flex-direction: column;
    margin-left: 885px;
    margin-top: -54px;
}

.search-bar-box {
    border: none;
    background-color: #222531;
    color: #fff;
    height: 30px;
    outline: none;
    font-family: Inter, "system-ui", "segoe ui", "Roboto", Helvetica, Arial, sans-serif;
}

.search-bar-box:hover {
    border: none;
}

.search-fields {
    display: flex;
    justify-content: space-between;
}

.search-fields input {
    width: 100%;
}

.coin-list-search {
    display: flex;
    flex-direction: column;
}

.coin-display {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.coin-display:hover {
    cursor: pointer;
    background-color: #323546;
}

.coin-price {
    color: #757575;
}