.body-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
    background: linear-gradient(to bottom, #0072ff, #00c6ff);
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.registration-form {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
}

h2 {
    color: #0072ff;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #00c6ff;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #0072ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}
